@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

main {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.btn {
    width: 100%;
    padding: 10px 5px 10px 5px;
    border: none;
    color: white;
    background-color: #3498db;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    background-color: #2980b9;
    color: whitesmoke;
}

.btn-1 {
    padding: 8px 10px 8px 10px;
    border: none;
    background-color: #e74c3c;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 5px;
    color: white;
}

.btn-1:hover {
    background-color: #c0392b;
}